@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Noto+Sans+JP:wght@100..900&family=Playwrite+ES+Deco+Guides&family=Playwrite+VN+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif; 

  --color-green: #8bac3e;
  --color-light-green: #f0feeb;
  --color-cyan: #40a2b1;
  --color-light-cyan: #eaeefa;
  --color-blue: #405eb6;
  --color-light-blue: #e6f3f5;
  --color-red: #b23f74;
  --color-light-red: #f9eef3;
  --color-lime: #a3b441;
  --color-light-lime: #f4f8dc;
}